body {
  background: var(--background) !important;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", serif;
}

.goback {
  position: absolute;
  left: 20px;
  background: var(--c-shape);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  top: 20px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.goback:hover {
  background: var(--shape-hover);
}
.goback i {
  font-size: 1.5rem;
  display: block;
  color: var(--c-white);
  text-align: center;
  transition: var(--transition);
}

main .container-fluid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

main .container-fluid h2 {
  font-size: clamp(1.4rem, 3vw, 2rem);
  font-family: "Montserrat", serif;
  font-weight: 500;
  color: var(--texts);
}

.container-fluid a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.container-fluid hr {
  color: var(--shadow);
  width: 60vw;
}

.search__input input {
  position: relative;
  background: var(--c-shape);
  outline: 0;
  border: none;
  color: var(--texts);
  width: clamp(10rem, 50vw, 30rem);
  border-radius: 4px;
}
.search__input i {
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.search__input i {
  position: relative;
  color: var(--c-white);
  bottom: 0px;
  right: 40px;
  font-size: 1.5em;
}

.card {
  background-color: var(--mediumBackground) !important;
  -webkit-box-shadow: 2px 8px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 8px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 8px 29px -8px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.card {
  min-width: 100% !important;
  transition: var(--transition);
  will-change: transform;
}

.card:hover {
  transform: scale(1.01);
}

@media (min-width: 720px) {
  .card {
    width: 700px !important;
    min-width: 700px !important;
  }
}

.card img {
  object-fit: cover;
  background-position: center;
  object-position: center;
  height: 150px;
}

.card-body {
  background: var(--mediumBackground) !important;
  color: var(--texts) !important;
}

.card-body .card__title {
  font-weight: 500;
  padding: 1rem 0;
}

.card__data {
  list-style: none;
  padding-left: 0;
}
.card__hashtag {
  background: var(--red);
  padding: 0.2rem 0.3rem;
  width: min-content;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
}

.card__hashtag:nth-child(2) {
  background: var(--shadow);
}
.card__hashtag:nth-child(3) {
  background: var(--highlight);
}
