.nav-item {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  margin-bottom: 10px;
  position: relative;
}
.nav-item:hover {
  color: #fbfafc;
}
.nav-item:hover::after,
.nav-item:hover::before {
  width: 100%;
  left: 0;
}
.nav-item::after,
.nav-item::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  right: 0;
  height: 2px;
}
.nav-item::before {
  -webkit-transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  -o-transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: var(--red);
}
.nav-item::after {
  -webkit-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  -o-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: var(--highlight);
}
.nav-item.active:after {
  background: var(--highlight);
  width: 100%;
  left: 0;
}
.nav-item.active:before {
  z-index: 2;
}
