html {
  --borders: #29292e;
  --texts: rgb(250, 250, 250);
  --texts-gray: #8892b0;
  --highlight: rgba(100, 255, 218, 0.8);
  --highlight-hover: rgba(100, 255, 218, 0.3);
  --mediumBackground: linear-gradient(
    to right top,
    #0c0c0e,
    #0e0e10,
    #0f0f11,
    #111113,
    #121214
  );
  --background: #0c0c0e;
  --c-primary: #0c0c0e;
  --c-secondary: #121214;
  --c-shape: #3c3c42;
  --shape-hover: #29292e;
  --c-tertiary: #ffffff;
  --c-white: #ffffff;
  --facebook: #4267b2;
  --telegram: #0088cc;
  --twitter: #1da1f2;
  --twitch: #6441a5;
  --red: rgb(228, 42, 123);
  --selection: #ff006e;
  --shadow: #fb5607;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.back-primary {
  background-color: var(--c-primary);
}

.back-secondary {
  background-color: var(--c-secondary);
}

.c-primary {
  transition: var(--transition);
  color: var(--c-white) !important;
}

.c-primary:hover {
  color: var(--highlight) !important;
}

body.is-light {
  --text: rgb(30, 30, 55);
  --white: rgb(0, 0, 0);
  --highlight: rgb(251, 55, 127);
  --mediumBackground: rgb(247, 240, 240);
  --background: rgb(255, 255, 255);
}

body.is-dark {
  --borders: #1d2730;
  --texts: rgb(250, 250, 250);
  --highlight: rgb(251, 55, 127);
  --mediumBackground: linear-gradient(270deg, #09090a, #121214);
  --background: #121214;
  --primary: #64ffda;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
