body {
  background: var(--background) !important;
  min-height: 100vh;
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  not all,
  only screen and (min-resolution: 1.25dppx),
  only screen and (min-resolution: 200dpi) {
  body,
  html {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

.border-b {
  border-bottom: 1px solid var(--borders);
}

::selection {
  background: var(--selection);
  padding: 5px;
}
::-moz-selection {
  background: var(--selection);
  padding: 5px;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
  background-color: #16171d;
  border-left: 1px solid #16171d;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--highlight);
  border-radius: 10rem;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--highlight);
}

.goTop {
  text-decoration: none;
  position: absolute;
  right: 50px;
  bottom: 40px;
}

@keyframes pulse {
  from {
    transform: translateY(0.45rem);
  }
  to {
    transform: translateY(-0.45rem);
  }
}

.goTop i {
  font-size: 2rem;
  color: var(--c-white);
  transition: var(--transition);
  animation: pulse 1s infinite alternate;
}

.goTop i:hover {
  font-size: 2rem;
  color: var(--highlight);
}
