/* toggle theme */
.c-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  max-width: 2.6rem;
}

.c-button__dark,
.c-button__light {
  display: none;
}

/* toggle show icon */
body.is-light .c-button__light {
  display: flex;
}

body.is-dark .c-button__dark {
  display: flex;
}

/* svg animation*/
.light {
  will-change: transform;
  transition: 0.4s ease-in;
  animation: rotateLight 1s;
  fill: var(--white);
  stroke: var(--white);
}

.dark {
  will-change: transform;
  transition: 0.4s ease-in;
  animation: rotateDark 1s forwards;
  fill: var(--white);
  stroke: var(--white);
}
