/* ───────────────── header ───────────────── */
header {
  background: var(--mediumBackground);
  position: absolute;
  top: 0;
  z-index: 5;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  header {
    background: transparent;
  }
}

/* ───────────────── navbar ───────────────── */
.navbar__icon {
  font-size: 1.7rem !important;
  color: var(--c-tertiary);
  transition: var(--transition);
}
.navbar__icon:hover {
  color: var(--highlight);
}

.nav-item.dropdown-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 992px) {
  .nav-item.dropdown-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav-item .dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-item .dropdown a {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border: none;
  color: var(--texts);
  margin: 0 auto;
  transition: var(--transition);
}
.nav-item .dropdown a:hover {
  color: var(--highlight);
}
.nav-item .dropdown ul li a:hover {
  background: var(--c-secondary);
}

.navbar .nav-item a {
  font-weight: 400;
}
