@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

body {
  margin: 0;
}
canvas {
  display: block;
}
#particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ascii {
  min-height: 100vh;
  background: var(--mediumBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.ascii .ascii-art {
  font-size: clamp(4px, 1.5vw, 1rem);
  font-family: "Roboto Mono", monospace;
  white-space: pre;
  color: #fff;
  text-align: center;
}
