@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap");
.contact {
  width: 100%;
  min-height: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 5rem 0 0 0;
  overflow-x: hidden;
}

@media (min-width: 720px) {
  .contact {
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 1080px) {
  .contact {
    padding: 5rem 0 0 0;
  }
}

.contact__form .contact__form_title {
  font-family: "Old Standard TT", "Montserrat", serif;
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.contact .contact__background {
  padding: 2rem;
  min-height: 50vh;
  background: var(--mediumBackground);
  position: relative;
  z-index: 1;
}
.contact__group p strong {
  padding-left: 0.5rem;
}
.contact__group p {
  color: var(--texts);
  font-size: clamp(1.3rem, 3vw, 1.6rem);
}
.contact .contact__background_circles {
  background-image: url("../../public/circles.svg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: 3;
}
.contact .contact__background_wave {
  background-image: url("../../public/wave.svg");
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
  background-size: cover;
}
.contact .contact__form {
  background: var(--c-white);
  padding: 2rem;
  min-height: 50vh;
}

@media (min-width: 720px) {
  .contact .contact__form {
    min-height: 100vh;
    padding: 4rem;
  }
  .contact .contact__background {
    padding: 4rem;
    min-height: 100vh;
  }
}

.form-check {
  margin-left: 1rem;
}

/* Button submit */
.c-button-primary {
  width: clamp(10rem, 6vw, 12rem);
  height: 3rem;
  border: 0;
  background: #111;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  clip-path: inset(0 0 0 0 round 4px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-button-primary::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  right: 0;
  background: #23272a;
  transition: width 0.3s, background 0.3s ease-in-out;
  clip-path: inherit;
}

.c-button-primary:hover::before {
  left: 0;
  width: 100%;
}

.e-button-primary__span {
  position: absolute;
  text-align: center;
}

/* Button clear */
@keyframes point {
  to {
    border-radius: 0%;
    width: 20rem;
    height: 20rem;
  }
}

.c-button-quaternary {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: clamp(10rem, 6vw, 12rem);
  height: 3rem;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  cursor: pointer;

  font-size: 1rem;
  margin-left: 2rem;
  font-weight: 500;

  background: rgba(255, 255, 255, 0);
  color: var(--background);
  border: 1px solid rgb(228, 42, 123);

  transition: background 0.6s, color 0.6s,
    border 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.c-button-quaternary:hover {
  background: var(--red);
  color: var(--texts);
  border: 1px solid var(--red);
}

.e-button-quaternary__span {
  position: absolute;
  z-index: 2;
}

.form-control[name="telefone"]:invalid {
  border-color: var(--red);
  box-shadow: 0 0 0 0.25rem rgba(228, 42, 123, 0.5);
}
