.course_wrapper {
  width: 100%;
  min-height: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background: var(--background);
  border-top: 1px solid var(--borders);
  padding: 5rem 1rem 0 1rem;
}

@media (min-width: 720px) {
  .course_wrapper {
    padding: 5rem 4rem 0 4rem;
  }
}

@media (min-width: 1080px) {
  .course_wrapper {
    padding: 5rem 9.5rem 0 9.5rem;
  }
}
.course__group hr {
  color: var(--shadow);
}
.course__group .course__title {
  color: var(--texts);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 600;
  display: block;
}
.course__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

@media (min-width: 620px) {
  .course__cards {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

.card__item {
  background: var(--mediumBackground);
  height: 350px;
  color: var(--c-white);
  padding: 2rem;
}

.card__item h3 {
  color: var(--texts);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 400;
  display: block;
  width: max-content;
  box-shadow: inset 0 -6px 0 var(--red);
}
.card__item .card__item__description {
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  color: var(--texts-gray);
}

.card__item .card__item__description strong {
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  color: var(--texts);
}
@media (min-width: 420px) {
  .card__item .card__item__description {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
  }
  .card__item .card__item__description strong {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
  }
}
.card__item__list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-flow: column;
  padding-left: 0;
  align-items: flex-start;
}

.card__item__list li {
  font-size: clamp(0.7rem, 2vw, 0.8rem);
}
@media (min-width: 520px) {
  .card__item__list li + li {
    padding-left: 1rem;
  }
  .card__item__list {
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
  }
  .card__item__list li {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
  }
}
.cart__button {
  text-decoration: none;
  color: var(--highlight);
  padding: 0.5rem 1.3rem;
  border: 1px solid var(--highlight);
  transition: var(--transition);
  width: max-content;
}
.cart__button:hover {
  background: var(--highlight-hover);
  color: var(--highlight);
}
.card__item__area {
  display: flex;
  flex-flow: column;
  list-style: none;
  justify-content: flex-start;
  padding-left: 0;
}

.card__item__area li {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  line-height: 1.7;
}
.card__item__area li i {
  font-size: clamp(0.9rem, 2vw, 1rem);
  padding-right: 0.5rem;
}
.card__item_ingresso {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.card__item_ingresso li::marker {
  font-size: 1.2rem;
  color: var(--highlight);
}
.card__item_profile {
  color: var(--texts-gray);
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.card__item_profile strong {
  color: var(--texts);
}
.card__item_profile {
  color: var(--texts-gray);
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}
