.docentes_wrapper {
  width: 100%;
  min-height: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background: var(--background);
  padding: 5rem 1rem 0 1rem;
}

@media (min-width: 720px) {
  .docentes_wrapper {
    padding: 5rem 4rem 0 4rem;
  }
}

@media (min-width: 1080px) {
  .docentes_wrapper {
    padding: 5rem 9.5rem 0 9.5rem;
  }
}

.docentes__group .docentes__title {
  color: var(--texts);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 600;
  display: block;
}
.docentes__group hr {
  color: var(--shadow);
}
.docentes__profile-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.docentes__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: var(--mediumBackground);
  min-height: 5rem;
  padding: 3rem 1rem;
}

.docentes__profile span {
  color: var(--texts-gray);
}

.docentes__profile i {
  color: var(--c-white);
  font-size: clamp(2rem, 5vw, 3rem);
}
.docentes__profile p {
  color: var(--c-white);
  padding-top: 1rem;
  font-size: clamp(0.9rem, 2vw, 1rem);
}
.docentes__profile_social {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.docentes__profile_social a {
  text-decoration: none;
}
.docentes__profile_social i {
  color: var(--c-white);
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.docentes__profile_social a {
  padding: 0.7rem;
}
.docentes__profile_social a:first-child i:hover {
  color: var(--texts-gray);
}
.docentes__profile_social a:nth-child(2) i:hover {
  color: var(--facebook);
}
.docentes__profile_social a:nth-child(3) i:hover {
  color: var(--telegram);
}
