/* ───────────────── gif section ───────────────── */
.gif__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}
.gif-ufsm {
  width: 100%;
  height: inherit;
  object-fit: cover;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  z-index: 1;
}
.gif-dark {
  position: absolute;
  z-index: 2;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), var(--c-primary));
  width: 100%;
  height: inherit;
  min-height: 100vh;
  max-height: 100vh;
}

.gif__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 90rem;
  width: 100%;
  flex-flow: column;
  width: 100%;
}

@media (min-width: 1080px) {
  .gif__container {
    width: 55%;
    padding-left: 8rem;
  }
}

.gif__area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

.gif__area .gif__welcome,
.gif__description {
  color: var(--texts);
  font-size: clamp(1rem, 3vw, 1.3rem);
}
.gif__svg {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
}
.gif__description {
  font-size: clamp(0.8rem, 3vw, 1rem);
  text-align: justify;
  color: var(--texts);
}
.gif__button {
  color: var(--c-white);
  border-radius: 4px;
  margin-top: 2rem;
  border: 1px solid var(--highlight);
  padding: 0.6rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--highlight);
  transition: var(--transition);
}
.gif__button:hover {
  background: var(--highlight-hover);
  color: var(--highlight);
}
.gif__button i {
  margin-right: 1rem;
}
