.footer {
  min-height: 40vh;
  background: var(--background);
  overflow-x: hidden;
}

.footer .row .footer_col {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-flow: column;
}
@media (min-width: 1080px) {
  .footer .row .footer_col {
    min-height: 40vh;
  }
}
.footer .footer__copyright {
  padding-right: 0;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--texts);
  flex-flow: column;
}
.footer .row div:first-child figure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.footer .row div:first-child img {
  width: 50%;
  min-width: 10rem;
  max-width: 15rem;
}

.footer__links_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0;
}
@media (min-width: 720px) {
  .footer__links_container {
    flex-flow: row;
    align-items: baseline;
    padding: 3rem 0 0 0;
  }
}
@media (min-width: 1080px) {
  .footer__links_container {
    justify-content: space-around;
  }
}

.footer_links {
  color: var(--texts);
}

.footer_links nav li a {
  text-decoration: none;
  color: var(--texts);
  transition: var(--transition);
}
.footer_links nav li a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

.footer_links h3 {
  font-weight: 600;
  align-self: center;
}
.footer_links nav {
  align-self: center;
  flex-flow: column;
}
.footer_links nav li {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
@media (min-width: 720px) {
  .footer_links h3 {
    align-self: start;
  }
  .footer_links nav {
    align-self: start;
  }
  .footer_links nav li {
    text-align: start;
  }
}

.footer_separator {
  height: 1px;
  width: 100%;
  background: var(--borders);
  margin: 0.2rem 0;
}
.footer_social {
  padding: 3rem 0 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_social i {
  font-size: 2rem;
  color: var(--c-white);
  transition: var(--transition);
  transform: scale(1);
  will-change: transform;
}
.footer_social a {
  text-decoration: none;
}
.footer_social a i:hover {
  transform: scale(1.1);
}
.footer_social a + a {
  margin-left: 2rem;
}

@media (min-width: 1080px) {
  .footer_social {
    padding: 3rem 0 3rem 9rem;
    display: block;
  }
  .footer_social a + a {
    padding-left: 2rem;
  }
  .footer_social i {
    font-size: 2rem;
    color: var(--c-white);
  }
}

.fa-twitter,
.fa-facebook,
.fa-twitch,
.fa-university {
  transition: var(--transition);
}

.fa-twitter:hover {
  color: var(--twitter);
}
.fa-facebook:hover {
  color: var(--facebook);
}
.fa-university:hover {
  color: var(--texts-gray);
}
.fa-twitch:hover {
  color: var(--twitch);
}
